@using MyOnTimeTeam.Models;
@using MyOnTimeTeam.Infrastructure;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myOnTimeTeam")
    <script type="text/javascript">
        window.siteRoot = '@Utils.GetSiteRoot()';
        if (window.localStorage.getItem('sort') === null) {
            window.localStorage.setItem('sort', 'name');
        }
        if (window.localStorage.getItem('hiddenUsers') === null) {
            window.localStorage.setItem('hiddenUsers', []);
        }
        if (window.localStorage.getItem('showHidden') === null) {
            window.localStorage.setItem('showHidden', false);
        }

        if (window.localStorage.getItem('showInactive') === null) {
            window.localStorage.setItem('showInactive', false);
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand active" href="~/">My OnTime Team</a>
                @if (HttpContext.Current.Request.Cookies.AllKeys.Contains(Constants.ONTIME_OAUTH_TOKEN) &&
                        !string.IsNullOrEmpty(HttpContext.Current.Request.Cookies[Constants.ONTIME_OAUTH_TOKEN].Value))
                {
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                            <img id="userImage" class="icon-" height="16" width="16" />
                            <span id="userName"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu pull-left">
                                <a href="#">Sort by</a>
                                <ul class="dropdown-menu">
                                    <li data-sortvalue="name"><a href="#">User Name
                                            <span class="hide icon icon-ok"></span>
                                    </a></li>
                                    <li data-sortvalue="work"><a href="#">Work Remaining
                                            <span class="hide icon icon-ok"></span>
                                    </a></li>
                                    <li data-sortvalue="defects"><a href="#">Defect Count
                                            <span class="hide icon icon-ok"></span>
                                    </a></li>
                                    <li data-sortvalue="features"><a href="#">Feature Count
                                            <span class="hide icon icon-ok"></span>
                                    </a></li>
                                    <li data-sortvalue="incidents"><a href="#">Incident Count
                                            <span class="hide icon icon-ok"></span>
                                    </a></li>
                                    <li data-sortvalue="items"><a href="#">Item Count
                                            <span class="hide icon icon-ok"></span>
                                    </a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu pull-left">
                                <a href="#">Filter by</a>
                                <ul class="dropdown-menu">
                                    <li><span style="font-weight: bold; margin-left: 0.7em">Projects</span></li>
                                    <li data-filtervalue="0"><a href="#">All Projects<span class="hide icon icon-ok"></span></a></li>
                                    <!-- ko foreach: projects -->
                                    <li data-bind="attr: { 'data-filtervalue': value }">
                                        <a href="#">
                                            <!--ko text: name-->
                                            <!--/ko-->
                                            <span class="hide icon icon-ok"></span></a>
                                    </li>
                                    <!-- /ko -->
                                    <li class="divider"></li>
                                    <li><span style="font-weight: bold; margin-left: 0.7em">Releases</span></li>
                                    <li releasedata-filtervalue="0"><a href="#">All Releases<span class="hide icon icon-ok"></span></a></li>
                                    <!-- ko foreach: releases -->
                                    <li data-bind="attr: { 'releaseData-filtervalue': value }">
                                        <a href="#">
                                            <!--ko text: name-->
                                            <!--/ko-->
                                            <span class="hide icon icon-ok"></span></a>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </li>
                            <li id="showHidden"><a href="#">Show Hidden Users
                                    <span class="hide icon icon-ok"></span>
                            </a></li>
                            <li id="showInactive"><a href="#">Show Inactive Users
                                    <span class="hide icon icon-ok"></span>
                            </a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" id="logoutButton">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    
                  
                    <script>
                        window.oauthToken = "@HttpContext.Current.Request.Cookies[Constants.ONTIME_OAUTH_TOKEN].Value";
                        window.ontimeUrl = "@HttpContext.Current.Request.Cookies[Constants.ONTIME_URL].Value";
                        window.myOnTimeTeam.getCurrentUserData().done(function (response) {
                            var data = response.data;
                            $("#userImage").attr("src", data.user_image);
                            $("#userName").text(data.first_name + " " + data.last_name);
                        });



                        var viewModel = window.myOnTimeTeam.refreshData();



                        var sort = window.localStorage.getItem('sort') || 'name'; //name, work
                        $('[data-sortValue=' + sort + '] .icon-ok').removeClass('hide');
                        $('[data-sortValue]').click(function () {
                            var newSort = $(this).attr('data-sortValue');
                            localStorage.setItem('sort', newSort);
                            viewModel.sortBy(newSort);
                            $('[data-sortValue] .icon-ok').addClass('hide');
                            $('[data-sortValue=' + newSort + '] .icon-ok').removeClass('hide');
                        });




                        $('#showHidden .icon-ok').toggleClass('hide',
                            localStorage.getItem("showHidden") !== "true"
                        );
                        $('#showHidden a').click(function () {
                            var newShow = localStorage.getItem("showHidden") !== "true";
                            $('#showHidden .icon-ok').toggleClass('hide', !newShow)
                            localStorage.setItem("showHidden", newShow);
                            viewModel.showHidden(newShow);
                            window.location.reload();
                        });

                        $('#showInactive .icon-ok').toggleClass('hide',
                                  localStorage.getItem("showInactive") !== "true"
                              );
                        $('#showInactive a').click(function () {
                            var inactiveShow = localStorage.getItem("showInactive") !== "true";
                            $('#showInactive .icon-ok').toggleClass('hide', !inactiveShow)
                            localStorage.setItem("showInactive", inactiveShow);
                            viewModel.showInactive(inactiveShow);
                            window.location.reload();
                        });



                    </script>
                }
                else
                {
                    <a class="btn btn-primary btn-small pull-right" id="loginButton">Login</a>
                }
            </div>

            <div class="row-fluid">
            <div class="span7">
                <div class="row-fluid">
                    
                    <div class="span4">
                        <label><!-- ko text: itemTypes()[0] --><!-- /ko --></label>
                        <select id="defectselector">
                            <option filterId ="0">None</option>
                            <!-- ko foreach: itemFilters()[0] -->
                            <option data-bind = "attr: { 'filterid': id }"><!-- ko text: name --><!-- /ko --></option>
                            <!-- /ko -->
                        </select>
                    </div>
                    
                    <div class="span4">
                        <label><!-- ko text: itemTypes()[1] --><!-- /ko --></label>
                        <select id="featureselector">
                            <option filterId ="0">None</option>
                            <!-- ko foreach: itemFilters()[1] -->
                            <option data-bind = "attr: { 'filterid': id }"><!-- ko text: name --><!-- /ko --></option>
                            <!-- /ko -->
                        </select>
                    </div>
                    <div class="span4">
                        <label><!-- ko text: itemTypes()[2] --><!-- /ko --></label>
                        <select id="incidentselector">
                            <option filterId ="0">None</option>
                            <!-- ko foreach: itemFilters()[2] -->
                            <option data-bind = "attr: { 'filterid': id }"><!-- ko text: name --><!-- /ko --></option>
                            <!-- /ko -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="row-fluid">
                    <div class="span6">
                        <label>Projects</label>
                        <select onchange="$('[data-filtervalue]').click()">
                            <option data-filtervalue="0">All Projects</option>
                            <!-- ko foreach: projects -->
                            <option data-bind="attr: { 'data-filtervalue': value }"><!-- ko text: name--><!-- /ko--></option>
                            <!--/ko-->
                        </select>
                    </div>
                    <div class="span6">
                        <label>Releases</label>
                        <select>
                            <option data-filtervalue="0">All Releases</option>
                            <!-- ko foreach: releases -->
                            <option data-bind="attr: { 'releaseData-filtervalue': value }"><!-- ko text: name--><!-- /ko--></option>
                            <!--/ko-->
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>

        
        @RenderBody()
        @if (!(HttpContext.Current.Request.Cookies.AllKeys.Contains(Constants.ONTIME_OAUTH_TOKEN) &&
                        !string.IsNullOrEmpty(HttpContext.Current.Request.Cookies[Constants.ONTIME_OAUTH_TOKEN].Value)))
        {
            <div class="welcome">
                <p>@ViewBag.message</p>
            </div>
        }

        @RenderSection("scripts", required: false)
        <script>
            if ($('#loginButton')) {
                $('#loginButton').click(function () {
                    $.modalPopup('@Utils.GetSiteRoot()/accounts/logon');
                });
            }
            if ($('#logoutButton')) {
                $('#logoutButton').click(function () {
                    document.cookie = encodeURIComponent("@Constants.ONTIME_OAUTH_TOKEN") + "=deleted; expires=" + new Date(0).toUTCString() + ";";
                    document.cookie = encodeURIComponent("@Constants.ONTIME_URL") + "=deleted; expires=" + new Date(0).toUTCString() + ";";

                    document.location = "";
                });


            }

          
           
        </script>
    </div>
</body>
</html>
