@using MyOnTimeTeam.Models;
@using MyOnTimeTeam.Infrastructure;

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>@ViewBag.Title</title>
		@Styles.Render("~/Content/css")
		@Styles.Render("~/Content/bootstrap")
		@Scripts.Render("~/bundles/modernizr")
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/knockout")
		@Scripts.Render("~/bundles/bootstrap")
		@Scripts.Render("~/bundles/myOnTimeTeam")
		<script type="text/javascript">
			window.siteRoot = '@Utils.GetSiteRoot()';
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="navbar navbar-inverse">
						<div class="navbar-inner">
							<a class="brand active" href="~/">My OnTime Team</a>
							@if (HttpContext.Current.Request.Cookies.AllKeys.Contains(Constants.ONTIME_OAUTH_TOKEN) &&
								!string.IsNullOrEmpty(HttpContext.Current.Request.Cookies[Constants.ONTIME_OAUTH_TOKEN].Value)) {
								<div class="btn-group pull-right">
									<a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
										<img id="userImage" class="icon-" height="16" width="16"/>
										<span id="userName"></span>
									</a>
									<ul class="dropdown-menu">
										<li class="dropdown-submenu pull-left">
											<a>Sort by</a>
											<ul class="dropdown-menu">
												<li><a>Work Remaining</a></li>
												<li><a>User Name</a></li>
											</ul>
										</li>
										<li>
											<a>Show Hidden Users</a>
										</li>
										<li class="divider"></li>
										<li>
											<a id="logoutButton">Log Out</a>
										</li>
									</ul>
								</div>
								<script>
									window.oauthToken = "@HttpContext.Current.Request.Cookies[Constants.ONTIME_OAUTH_TOKEN].Value";
									window.ontimeUrl = "@HttpContext.Current.Request.Cookies[Constants.ONTIME_URL].Value";
									window.myOnTimeTeam.getCurrentUserData().done(function (response) {
										var data = response.data;
										$("#userImage").attr("src", data.user_image);
										$("#userName").text(data.first_name + " " + data.last_name);
									});

									window.myOnTimeTeam.refreshData();
								</script>
							} else {
								<a class="btn btn-primary btn-small pull-right" id="loginButton">Log in</a>
							}
						</div>
					</div>
				</div>
			</div>
			@RenderBody()

			@RenderSection("scripts", required: false)
			<script>
				if ($('#loginButton')) {
					$('#loginButton').click(function () {
						$.modalPopup('accounts/logon');
					});
				}
				if ($('#logoutButton')) {
					$('#logoutButton').click(function () {
						document.cookie = encodeURIComponent("@Constants.ONTIME_OAUTH_TOKEN") + "=deleted; expires=" + new Date(0).toUTCString() + ";";
						document.cookie = encodeURIComponent("@Constants.ONTIME_URL") + "=deleted; expires=" + new Date(0).toUTCString() + ";";

						document.location = "";
					});
				}
			</script>
		</div>
	</body>
</html>
